* {
  box-sizing: border-box;
  font-family: "Libre Baskerville", sans-serif;
}
body {
  padding: 0;
  margin: 0;
}

nav {
  border: grey 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgrey;
}

ul li {
  list-style-type: none;
  display: inline;
  padding: 30px;
}

main {
  text-align: center;
}

.form_container {
  max-width: 25%;
  margin: 0 auto;
  border: 1px solid grey;
  background-color: lightgrey;
  text-align: left;
}

form {
  padding: 10px;
  display: inline-block;
  width: 100px;
}
